#kalbi {
  background-color: rgb(128, 0, 0);
  color: white;
  font-size: 50px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

#bulgogi {
  background-color: rgb(0, 128, 53);
  color: white;
  font-size: 50px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

#bibimbap {
  background-color: rgb(0, 119, 128);
  color: white;
  font-size: 50px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}